@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animation";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";

@import "layout/grid";
@import "layout/header";

@import "pages/home";


//Button animation and color code
.btn--white {
    background-color: $color-white;
    color: $color-gray;
}

.btn--white::after {
        background-color: $color-white;
    }

.btn--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
}


.feature-box {
   background-color: black;
   color: white;
   font-size: 2rem;
}

.xerox {
    background-color: rgba($color-black, .8);
}