.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; /* This is also an amination property and it moves the button up and down smoothely*/
        position: relative;
        font-size: $Default-font-size;

    &:hover {
        transform: translateY(-.3rem); /* The button will go from bottom to up because in Y-axis negative value move from bottom to up */
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2)
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;     
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
}

}

.btn--white {
    background-color: $color-white;
    color: $color-gray;
}

.btn--white::after {
    background-color: $color-white;
}

.btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        font-size: $Default-font-size;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;

    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem  rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem  rgba($color-black, .15);
        transform: translateY(0);
    }

}
