.card {
perspective: 150rem;
-moz-perspective: 150rem;

    &__side {
        // background-color: orangered;
        color: #fff;
        font-size: 3rem;
        height: 50rem;
        transition: all .8s;

    &--front {
        background-color: orangered;
    }

    &--back {
        background-color: green;.
        transform: rotateY(180deg);
    }

}

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(180deg);
    }
}