.pop-up {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    position: fixed;
    z-index: 5000;

    &__content {
        @include absCenter;
        
        width: 75%;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        background-color: $color-white;
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.66666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 2rem 4rem;
    }
    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 3rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; //1em = 14px;
        -moz-column-rule: 1px solid $color-gray-light-2;

        column-count: 2;
        column-gap: 4rem; //1em = 14px;
        column-rule: 1px solid $color-gray-light-2;

        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
}