@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);  /* This animation will start from the left to right and 
                                            Negative value goes to left to right */
    }

    80% {
        transform: translateX(1rem);     /* This animation will start from the right to left and 
                                            Positive value goes to right to left */
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }

}
